@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-style: normal;
	font-weight: normal;
	font: inherit;
}

*{
	font-family: "微软雅黑";
	　-moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
	user-select: none;
	touch-action: pan-y;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
.footer,
.header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

a {
	text-decoration: none;
	color: #666;
	/* -webkit-transition: all .4s ease;
	transition: all .4s ease; */
}

a:focus {
	outline: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea {
	resize: none;
	outline: none;
}

input,
textarea {
	/*outline: none;
	-webkit-appearance: none;*/
	/*font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "sans-serif", 'Arial';*/
}

img {
	border: 0;
	display: block;
	max-width: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*--------------css animation--------------*/

.trans {
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}

.fl {
	float: left;
}

.fr {
	float: right;
}



/*清除浮动*/

.clear {
	zoom: 1;
	overflow: hidden;
}

.clearbox{ clear:both} 

html,
body {
	height: 100%;
}
